
html, body { padding: 0; margin: 0; width: 100%; height: 100%; }
  * {box-sizing: border-box;}
  body { text-align: center; padding: 0; background: #84db5e; color: #fff; font-family: Open Sans; }
  h1 { font-size: 50px; font-weight: 100; text-align: center;}
  body { font-family: Open Sans; font-weight: 100; font-size: 24px; color: #fff; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
  article { display: block; width: 700px; padding: 50px; margin: 0 auto; }
  a { color: #fff; font-weight: bold;}
  a:hover { text-decoration: none; }
  svg { width: 75px; margin-top: 1em; }
  p{ font-size: 16px;}
*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; }
p, ul, ol, section, article, div { font-size: 17px; }


h1, h2, h3, h4, h5, h6 { font-family: 'Source Sans Pro', Arial; color: #000; text-transform: uppercase; }

h1 { font-size: 24px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

.h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Source Sans Pro', Arial; color: #000; font-weight: bold; padding: 0; margin: 0; }
.h1 { font-size: 24px; }
.h2 { font-size: 24px; }
.h3 { font-size: 22px; }
.h4 { font-size: 20px; }
.h5 { font-size: 18px; }
.h6 { font-size: 16px; }

body { background-color: #ffffff; font-family: 'Source Sans Pro', sans-serif, Arial; font-size: 100%; color: #484848; }
/* Мои */
html, body{
    text-align: start;
}
.backround{
    height: 100%;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
.container{
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 12%;
}
.modal{
    background-color: #F2F2F2;
    width: 80%;
    max-width: 600px;
    border-radius: 4px;
    height: 50%;
    padding: 20px;
}
.heading1{
    font-size: 32px;
}
.long-text{
  font-size: 14px;
}
.modal-line{
    width: 20%;
    margin: 0px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 3px solid #DC2B19;
    border-radius: 2px;
}
.consent-button{
    background-color: #dc2d19af;
    border: none;
    font-size: 10px;
    border-radius: 4px;
    color: rgb(232, 230, 227);
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
#cta{
    background-color: #DC2B19;
    padding: 0px 20px;
    line-height: 50px;
    margin-top: 20px;
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
}
#return{
  margin-top: 10px;
  margin-bottom: 10px;
  display:flex;
  justify-content: space-between;
  align-items: center;

}
/* Hide the default checkbox */
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin: 0px;
    top: 0;
  }
  
  /* Style the label to create a custom checkbox */
  .setting {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 15px;
    font-size: smaller;
  }
 
  
  /* Create the checkbox box */
  .setting::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 1px;
    width: 12px;
    height: 12px;
    border: 2px solid #181A1B;
    border-radius: 3px;
    background-color: transparent;
  }
  
  /* Create the checkmark (using the same icon) */
  .setting::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 3px;
    width: 4px;
    height:  8px;
    border: solid rgb(224, 224, 224);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }
  
  /* Change background and display checkmark when checked */
  input[type="checkbox"]:checked + .setting::before {
    background-color: #dc2d19af;
  }
  
  input[type="checkbox"]:checked + .setting::after {
    opacity: 1;
  }
#settings-container{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 10px;
}
.consent-details{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.secondary-button{
  background-color: transparent;
  border: 3px solid rgb(134, 134, 134);
  font-size:10px;
  border-radius: 4px;
  color: rgb(134, 134, 134);
  text-transform: uppercase;
  padding: 4px;
  text-align: center;
  font-weight: bold;
}


@media only screen and (max-width: 700px) {
    h1, h2{font-size: 20px;}
    h3 {font-size: 18px;}
    h4 {font-size: 17px;}
    h5 {font-size: 16px;}
    h6 {font-size: 14px;}
    .h1, .h2{font-size: 20px;}
    .h3 {font-size: 18px;}
    .h4 {font-size: 17px;}
    .h5 {font-size: 16px;}
    .h6 {font-size: 14px;}
    .long-text{
      font-size: 12px;
    }
}
@media only screen and (max-width:500px) {
    .heading1{
        font-size: 20px;
    }
    .modal{
      width: 100%;
      max-width: 600px;
      border-radius: 4px;
      height: 50%;
      padding: 20px;
  }
}
